.content h6{
  text-align: center;
  font-weight: bold;
}

.content strong{
  text-transform: uppercase;
}

.content ul li{
  list-style-type: disc;
}

.btn-display{
  text-align: center;
}

.input-field input:focus + label{
     color: #039be5!important;
   }
   /* label underline focus color */
.input-field input:focus,{
     border-bottom: 1px solid #039be5!important;
     box-shadow: 0 1px 0 0 #000!important;
   }