@import "https://fonts.googleapis.com/css?family=Abril+Fatface|Permanent+Marker|Roboto";

body {
    font-family: 'Source Sans Pro', sans-serif !important;
    line-height: 1.5;
    color: #444444;
    font-size: 15px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
}
.main-team{
    background: #000000;
}
.heading-title {
    margin-bottom: 30px;
    margin-top: 20px;
}
.text-center {
    text-align: center;
}
.heading-title h3 {
    margin-bottom: 0;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 35px;
    color: #ffffff;
}
.p-top-30 {
    padding-top: 10px;
}
.half-txt {
    width: 60%;
    margin: 0 auto;
    display: inline-block;
    line-height: 25px;
    color: #7e7e7e;
}
.text-uppercase {
    text-transform: uppercase;
}

.team-member, .team-member .team-img {
    position: relative;
    max-width: 280px;
    max-height: 280px;
    border-radius: 50%;
}
.team-member {
    overflow: hidden;

}

.team-hover {
    position: absolute;
    top: 0;
    padding:5px;
    left: 0;
    bottom: 0;
    border-radius: 50%;
    right: 0;
    margin: 0;
    border: 20px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.90);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.team-member:hover .team-hover .desk {
    top: 35%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .desk {
    position: absolute;
    top: 0%;
    width: 100%;
    opacity: 0;

    -webkit-transform: translateY(-55%);
    -ms-transform: translateY(-55%);
    transform: translateY(-55%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
    font-size: 17px;
}
.team-member:hover .team-hover .s-link {
    bottom: 10%;
}
.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
    opacity: 1;
}
.team-hover .s-link {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0;
    text-align: center;
    -webkit-transform: translateY(45%);
    -ms-transform: translateY(45%);
    transform: translateY(45%);
    -webkit-transition: all 0.3s 0.2s;
    transition: all 0.3s 0.2s;
    font-size: 35px;
}
.desk, .desk h4, .team-hover .s-link a {
    text-align: center;
    color: #222;
}
.team-member .s-link a {
    margin: 0 10px;
    color: #333;
    font-size: 16px;
}
.team-title {
    position: static;
    display: inline-block;
    letter-spacing: 2px;
    width: 100%;
    color: #ffffff;
}
.team-title h5 {
    margin-bottom: 0px;
    display: block;
    font-weight:bold;
    font-size:17px;
    text-transform: uppercase;
}
.team-title span {
    font-size: 12px;
    text-transform: uppercase;
    color: #a5a5a5;
    letter-spacing: 1px;
}

 .background {

 background-repeat: no-repeat;
    background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: .3;
   top: 0;
  left: 0;
  z-index: -1
}
.log_reg{
  position: relative;
	padding:16px 24px;
	cursor:pointer;
	border: 3px solid #283048;
	box-shadow:5px 5px 0 0 #283048;
 -webkit-box-shadow:5px 5px 0 0 #283048;
 -webkit-transition:all .2s ease-out;
 transition:all .2s ease-out;
 font-weight:bold;
 color:#ffffff !important;
 text-decoration: none !important;
 font-family: 'Roboto', sans-serif;
align-self: center;
	}
	.log_reg:hover {
 -webkit-box-shadow:0 0 0 0 #283048;
 box-shadow:0 0 0 0 #283048;
 -webkit-transform:translate(2px,2px);
 -ms-transform:translate(2px,2px);
 transform:translate(2px,2px)
background: #ee0979;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #b1b1b1, #283048);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right,#b1b1b1, #283048); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
@media only screen and (max-width: 600px) {
    .background {
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: center;
    horizontal-align: center;

}
