@import url("https://fonts.googleapis.com/css?family=Abril+Fatface");

body{
	background: #fff!important;

}

.sponsor-row, .title-sponsor{
	text-align: center;

}
.tilt{
padding: 20px 0;
background: #00F260;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom right, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom right, #0575E6, #00F260); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
;
	transform: skew(0deg,-8deg)translateY(-165px);
}

.heading{
	padding: 50px;
	padding-top: 150px;
	color: #fff;
	font-family: 'Abril Fatface', sans-serif;
	transform: skew(0deg, 8deg);
}
.clear{
	clear: both;
}
.yuhi img{
    max-width: 270px !important;
    height: auto;
}
.event-partners img{
    max-width: 240px !important;
    height: auto;
}
.title-sponsor h4{
	font-weight: 600;
	background-image: -webkit-linear-gradient(to bottom right, #0575E6, #00F260); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(to bottom right, #0575E6, #00F260); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(to bottom right, #0575E6, #00F260); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(to bottom right, #0575E6, #00F260); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to bottom right, #0575E6, #00F260); /* Standard syntax; must be last */
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
}
.same h4{
    font-weight: 600;
	background-image: -webkit-linear-gradient(to bottom right, #0575E6, #00F260); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(to bottom right, #0575E6, #00F260); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(to bottom right, #0575E6, #00F260); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(to bottom right, #0575E6, #00F260); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to bottom right, #0575E6, #00F260); /* Standard syntax; must be last */
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-transform: uppercase;
}
.sponsor-row h5{
    font-weight: 600;
    text-transform: uppercase;
}
.past-sponsors{
    margin-top: 50px;
    text-align: center;
    padding: 20px 0!important;
}
.btn-sponsors{
    background: linear-gradient(to bottom right, #0575E6, #00F260);
}
.btn-sponsors:hover{
    border: 1px solid #fff;
}
.yuhi, .same{
    margin-top: 50px;
}
.btn-gallery{
  background: linear-gradient(to bottom right, #0575E6, #00F260)!important;
  border: 1px solid #fff;
}

.btn-gallery:hover{
  background: dodgerblue!important;
}

.material-tooltip > .backdrop {
    background-color: dodgerblue;
}
@media only screen and (max-width: 600px) {
	h1{
		font-size: 30px;
		text-align: center;
	}
	.heading h1{
	    font-size: 3rem!important;
	}
	h4{
	    font-size: 1.5rem!important;
	}
	h5{
	    font-size: 1rem!important;
	}
	.yuhi img{
	    max-width: 150px !important;
        height: auto;
	}
	.event-partners img{
        max-width: 100px !important;
        height: auto;
    }
    .media-partners img{
        max-width: 70px !important;
        height: auto;
    }
}