body{
    color: #fff!important;
}
.user-info{
	color: dodgerblue;
}
.skew{
	position: relative;
	background: linear-gradient(to bottom right, #dc2424, #4a569d);
	/*opacity: 0.7; */
	padding: 20px 0;
	padding-bottom: 0px;
	transform: skew(0deg, 7deg) translateY(-185px);
}
.box{
	font-family: 'Abril Fatface', sans-serif;
	padding: 10px 50px;
	padding-top: 150px;
	text-align: right;
	transform: skew(0deg, -7deg);
	color: #fff !important;
}
.text{
    background: #111;
    padding: 50px 20px;
    box-shadow: 1px 1px 10px 1px dodgerblue;

}

.content{
	text-align: center;
}

.content img{
	max-width: 200px;
}

h5.designation{
	text-transform: uppercase;
}

.social-media a{
	color: #333;
	margin-right: 1rem;
}

.social-media a:hover{
	color: #039be5;
}

@media only screen and (max-width: 500px) {
.content img{
	max-width: 150px;
}
}