{% extends 'website/base1.html' %}
{% load staticfiles %}
{% block title %}Complete Team{% endblock %}
{% block css %}
 <link type="text/css" rel="stylesheet" href="{% static 'css/main3.css' %}">
 <link type="text/css" rel="stylesheet" href="{% static 'css/completeteam.css' %}" >

 <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap1.css' %}" >
{% endblock %}
{% block silho %}{% static  'images/campusambss.png' %}{% endblock %}
{% block heading %}Campus Ambassador Program{% endblock %}
{% block content %}
<section class="skewedBox">
  <div class="box">
  <h1>Complete Team</h1>
  <h6>"Unity is strength...When there is team work and collaboration, wonderful things can be achieved!!"</h6>
  </div>
</section>
	<section class="details container" >
		<div class="row details-benefits">
			<div class="part" align="center">
				<div class="col-md-12 col-sm-12">
					<strong>Core Team</strong>
					<ul style="list-style-type:none">
						<li>Danish Jameel</li>
						<li>Tushar Bhatia</li>
						<li>Akhil Reddy</li>
						<li>Manav Gupta</li>
						<li>Sankalp Pasricha</li>
						<li>N.S.Bhargava</li>

						<li>Sharath K Chandra</li>
					</ul>


				</div>
			</div>


		</div>
		<div class="row details-intro">

			<div class="part" align="center">
				<div class="col-md-4 col-sm-4" >

					<strong>Sponsorship Team</strong>
					<ul style="list-style-type:none">
						<li>Samhitha Madala</li>
						<li>Thomas Abraham</li>
						<li>Himanshi Thawrani</li>
						<li>Ch.Sarachhandrika</li>
						<li>Siddhartha Agarwal</li>
						<li>Pragya Singh</li>
						<li>Pratham Agarwal</li>
						<li>Gianeshwar Aggarwal</li>
						<li>Bayyapureddy Nithika</li>
						<li>Tanishq garg</li>
						<li>Ishwar Varshney</li>
						<li>Ayush Goyal</li>
						<li>Ashish Chawla</li>
						<li>Divit Jain</li>
						<li>Kanti Sudha</li>
						<li>Nikhitha Atluri</li>
					</ul>

				</div>
			</div>
			<div class="part" align="center">
				<div class="col-md-4 col-sm-4" >

					<strong>Design Team</strong>
					<ul style="list-style-type:none">
						<li>Sreekar Reddy</li>
						<li>Ujjwal Akshith Mondreti</li>
						<li>Yelisetti Ravi Kiran</li>
						<li>Vibhav Airan</li>
						<li>Damarla Mohan Saroj Maneesh</li>
						<li>Swetha</li>
						<li>Yelisetti Ravi Kiran</li>
						<li>Sreekar Reddy</li>
						<li>jai mehta</li>
						<li>Mutta Praneeth Sri Sai</li>
						<li>Narla Vishnu Vardhan Reddy</li>
						<li>Gopi Krishna Aditya Ganta</li>
						<li>Katru Bhavya Chowdary</li>
						<li>Rahul Chauhan</li>
						<li>Siddhant gadhe</li>
						<li>Abhishek Bhavirisetty</li>
						<li>Muskaan Vats</li>
						<li>Sasi Kiran Yadavalli</li>
						<li>Harsh Singh</li>
						<li>Shreya Agrawal</li>
						<li>Satya Chaitanya</li>
						<li>Sanket</li>
						<li>Gomada Surya Vamsi Karthik</li>
						<li>Ande Varun</li>
						<li>Kanteti surya Chandra varshit</li>
						<li>Swati Deshwal</li>
					</ul>

				</div>
			</div>
			<div class="part" align="center">
				<div class="col-md-4 col-sm-4" align="center">

					<strong>Public Relation Team</strong>
					<ul style="list-style-type:none">
						<li>K. Natasha Dora</li>
						<li>Mahima Chopra</li>

						<li>Himanshi Wadhwa</li>
						<li>Purnendu Bansal</li>
						<li>Nikhil mylarusetty</li>
						<li>A. Jagat Mohith</li>
						<li>Nishant Pandey</li>
						<li>Praveen kumar</li>

						<li>Leela Krishna.D</li>
						<li>Aishwarya dubey</li>
						<li>Prthvi Manikonda</li>
						<li>Surya Kaushik yerukonda</li>
						<li>Pulkit Maheshwari</li>
						<li>Jonnavithula Chandan</li>
						<li>Vavintaparthi Balaji Rao</li>
						<li>Adwityaa Jha</li>
						<li>Yogesh Garg</li>
						<li>Mohit Mehta</li>
						<li>Snehal Singh</li>
						<li>Ajitesh Reddy</li>
						<li>Divya jain</li>
						<li>Shubhi Jain</li>
						<li>Aman Kumar Singh</li>
					</ul>


				</div>
			</div>
		</div>
		<div class="row details-details" >

			<div class="part" align="center">
				<div class="col-md-4 col-sm-4" align="center">

					<strong>Talent Management</strong>
					<ul style="list-style-type:none">
						<li>Shreya Mathur</li>
						<li>Astha Sharma</li>

						<li>Venkata Kaushik Andhavarapu</li>
						<li>Tanoori Alekhya</li>
						<li>Aneesh Gupta Vandanapu</li>
						<li>Saksham Goel</li>
						<li>Saksham Gupta</li>
						<li>Sai indra praneeth Meka</li>
						<li>Bh Nirush Reddy</li>
						<li>Surya Pratap Singh</li>
						<li>Deepak.m</li>
						<li>Poorna Sai Reddy Pallaprolu</li>
						<li>Mansi Malik</li>
						<li>Ashwath.M.Ramanan</li>
						<li>Jayishnu Tripathi</li>
						<li>Mahima dahiya</li>
						<li>Kunika Garg</li>
						<li>Yogesh Saraogi</li>
						<li>Deepika Bisht</li>
						<li>Vaishali Goyal</li>
						<li>Kanika Gulati</li>
						<li>Sreevalli Tata</li>
						<li>D. Revanth reddy</li>
						<li>Bipasha Bist</li>
						<li>Anuj Omer</li>
					</ul>


				</div>
			</div>

			<div class="part" align="center">
				<div class="col-md-4 col-sm-4" align="center">

					<strong>Technical Team</strong>
					<ul style="list-style-type:none">
						<li>Nishit Garg</li>
						<li>Naman Khetawat</li>

						<li>Mann Khatri</li>
                        <li>Hitesh Goel</li>
						<li>Prashant Pandey</li>
						<li>Vidhu Bamra</li>
						<li>Sanjeev Sharma</li>
						<li>Mayank Jindal</li>
						<li>Divyanshu Gupta</li>
						<li>Jatin Agrawal</li>
						<li>Shrey Dixit</li>

						<li>Archit Gupta</li>
						<li>Shiwang Jaiswal</li>
					</ul>


				</div>
			</div>

			<div class="part" align="center">
				<div class="col-md-4 col-sm-4" align="center">

					<strong>Decoration Team</strong>
					<ul style="list-style-type:none">
						<li>Mehak sablok</li>
						<li>Tanya</li>
						<li>Kanti Sudha</li>
						<li>Geethika Chandana</li>
						<li>Avunoori.rajesh</li>
						<li>Ridham</li>
						<li>shishir singhal</li>
						<li>Saiteja</li>
						<li>Shreya Agrawal</li>
						<li>Arpit Lohiya</li>
						<li>Siddhant Gadhe</li>
						<li>srikar</li>
						<li>Kartik Sharma</li>
						<li>Akhil Chowdary Javvaji</li>
						<li>Mayank Dhanuka</li>
						<li>Jaideep Bhatia</li>
						<li>Sri Harsha Yerramsetti</li>
						<li>Saatvik Saini</li>
						<li>Kanchi Ram Shri Sai Ratan</li>
						<li>chittapragada.vishnu</li>
						<li>kunal gupta</li>
						<li>Meghna Goel</li>
						<li>Madhusudan Ashiya</li>
						<li>Bhavya Katru</li>
						<li>Mohit Mehta</li>
						<li>Sambhav Jain</li>

					</ul>

				</div>
			</div>

		</div>
	</div>
	<div class="row details-benefits">
		<div class="part" align="center">
			<div class="col-md-4 col-sm-4" align="center">

				<strong>Decoration Team</strong>
				<ul style="list-style-type:none">
					<li>Manasi Poluru</li>
					<li>Poluru Vaishnavi Meghana</li>
					<li>Kakarla udayasree</li>
					<li>Abhishek Bhavirisetty</li>
					<li>Nikita Arora</li>
					<li>Poojitha bathini</li>
					<li>Suryesh</li>
					<li>Sreenivas</li>
					<li>satyam rastogi</li>
					<li>Naveen Malik</li>
					<li>Divya jain</li>
					<li>Kummara sai sumanth</li>
					<li>Swati</li>
					<li>Muskaan Vats</li>
					<li>G Anil Reddy</li>
					<li>Priyansha Puri</li>
					<li>o.sagar reddy</li>
					<li>Sravan Kalagara</li>
					<li>Srujan pendela</li>
					<li>Pulipati Srinivas Pranay</li>
					<li>Sai Manikanta</li>
					<li>Dasari.satyanarayana</li>
					<li>Shruti agarwal</li>
					<li>Nikhil mylarusetty</li>
					<li>NAKIREKANTI NITHEESH</li>
					<li>Vansh Sinha</li>
				</ul>

			</div>
		</div>
		<div class="part" align="center">
			<div class="col-md-4 col-sm-4" align="center">

				<strong>Social Media Marketing Team</strong>
				<ul style="list-style-type:none">
					<li>Aastha Jain</li>
					<li>Sai Kiran</li>
					<li>Shubham Dhingra</li>
					<li>Akshita Lomsh</li>
					<li>Poorvi Dhamani</li>
					<li>Akhil Javvaji</li>
					<li>Geethika Chandana</li>
					<li>Kinnera</li>
					<li>Kush Rawal</li>
					<li>D S L Sravya</li>
					<li>NUKvarapu Lalita Aditya Patel</li>
					<li>Viswateja Yetukuri</li>
					<li>Lahari Kasarla</li>
				</ul>

			</div>
		</div>
		<div class="part" align="center">
			<div class="col-md-4 col-sm-4" align="center">

				<strong>Content Writing Team</strong>
				<ul style="list-style-type:none">
					<li>Harshad Kalantri</li>
					<li>A.Nikhitha Chowdary</li>
					<li>Amoghavarsha Rao</li>
					<li>Sri Sai Bhargav Nagandla</li>
					<li>Raghav Sharma</li>
					<li>Nikita Agarwala</li>
					<li>SirishaBalireddy</li>
					<li>Pallerla likhitha</li>
					<li>Neelu Mahendra</li>
					<li>Madhur Garg</li>
					<li>Purna Singh</li>
				</ul>

			</div>
		</div>

	</div>
</section>

{% endblock %}

{% block js %}
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  <!-- Scroll -->
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <script>
    $(document).ready(function(){
      $('.modal').modal();
        $(".button-collapse").sideNav();
        window.sr = ScrollReveal({ reset: true });
        sr.reveal('.details-intro', { duration: 800 });
        sr.reveal('.details-details', { duration: 800 });
        sr.reveal('.details-benefits', { duration: 800 });
        sr.reveal('.details-apply', { duration: 800 });
    // $('ul.tabs').tabs({
    //   swipeable : true,
    //   responsiveThreshold : 1920
    });
  </script>
{% endblock %}
