{% extends 'website/base1.html' %}
{% load staticfiles %}
{% block title %}Contact Us{% endblock %}
{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'css/success.css' %}">
{% endblock %}
{% block content %}
<div class="skew">
    <div class="box">
        <h2>Contact Us</h2>
    </div>
</div>
<div class="container">
    <section class="content">

        <div class="row">
            <h6>"Unity is strength. . . when there is teamwork and collaboration, wonderful things can be
                achieved."</h6>
        </div>
        <div class="row">
            <h5 class="designation">General Secretary</h5>
        </div>
        <div class="row s3 danish-img">
            <img src="{% static 'images/danish1.jpg' %}" alt="Gen Sec" class="responsive-img circle">
        </div>
        <div class="row">
            <h5>Danish Jameel</h5>
        </div>
        <div class="row">
            <p>Phone me at <i class="fas fa-phone"></i> +91-70117-48773<br></p>
            <p>Or drop me an email at <a href="mailto:danish@67thmilestone.com" target="_blank">danish@67thmilestone.com</a>.</p>
        </div>

    </section>
</div>
{% endblock %}

{% block js %}
{% endblock %}
