{% extends 'website/base1.html' %}
{% load staticfiles %}
{% block title %}Event Detail{% endblock %}
{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'css/main3.css' %}">
<link type="text/css" rel="stylesheet" href="{% static 'css/style1.css' %}">
{% endblock %}
{% block silho %}{% static  'images/events.png' %}{% endblock %}
{% block heading %}Campus Ambassador Program{% endblock %}
{% block content %}

<!-- Content -->
{% for i in event_details %}
<section class="skew1">
    <div class="event-heading">
        <h3>{{ i.name }}</h3>
    </div>
</section>
<section class="skew2">
    <div class="tagline">
        <h6><em>{{ i.one_liner }}</em></h6>
    </div>
</section>
<section class="row picture-desc">
    <div class="col s12 m3 event-picture">
        <img src="{{ MEDIA_URL }}{{ i.image }}" class="responsive-img">
    </div>
    <div class="col s12 m6 event-desc">
        <h4>{{ i.type }}</h4>
        <p>{{ i.description }}</p>
    </div>
    <div class="col s12 m3 event-list">
        <ul>
            <li>Fee Type: <span class="highlight">{{ i.fees }}</span><i id="info" class="material-icons">help_outline</i></li>
            {% if single %}
            <li>Participants: <span class="highlight">{{ i.min_participants }}</span></li>
            {% else %}
            <li>Participants: <span class="highlight">{{ i.min_participants }} - {{ i.max_participants }}</span></li>
            {% endif %}
            <li>Date & Time: <span class="highlight">{{ i.date }} {{ i.time }}</span></li>
            <li>Venue: <span class="highlight">{{ i.venue }}</span></li>
            {% if prize %}
            <li>Prize(Worth): <span class="highlight">{{ i.prize }}</span>/-</li>
            {% endif %}
            {% if rules %}
            <li><a href="/download/{{ file_name }}/{{ extension }}">Download Rules File</a></li>
            {% endif %}
        </ul>
        <div class="btn-reg">
            {% if t %}
            {% if registered %}
            {% if single %}
            <a href="\{{ slug }}/register" class="btn btn-login">Register</a>
            {% else %}
            {% if hack %}
            <a href="hackbmu.67thmilestone.com" class="btn btn-login">Register</a>
            {% else %}
            <a href="\{{ slug }}/team_register" class="btn btn-login">Register</a>
            {% endif %}
            {% endif %}
            {% else %}
            {% if single %}
            <a href="\{{ slug }}/register" class="btn btn-login" disabled>Register</a>
            {% else %}
            <a href="\{{ slug }}/team_register" class="btn btn-login" disabled>Register</a>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>
    </div>
</section>

<!-- Info Section -->
<section class="info container">
  <table>
        <thead>
        <tr>
          <td>Type of Fee</td>
          <td>Charges</td>
          <td>Inclusions</td>
        </tr>
        </thead>
        <tbody>
          <tr>
            <td>Cultural Management Fest Fee</td>
            <td>Rs. 200/- per person</td>
            <td>Fest Entry + Cultural-Management Fest Events</td>
          </tr>
          <tr>
            <td>Technical Fest Fee</td>
            <td>Rs. 450/- per team (Team size - 2 to 5 only)</td>
            <td>Fest Entry + Technical Fest Events</td>
          </tr>
        </tbody>
      </table>
      <h6 class="highlight">NOTE</h6>
      <p>Cultural-Management Fest Fee can be paid both online as well as on the spot. Any person
        paying this fee is entitled to enjoy full 3 day fest.</p>
      <p>Technical Fest Fee can be paid only on the spot (offline mode). Any person paying this fee is
        entitled to enjoy full 3 day fest.</p>
</section>
<!-- Ends -->


<section class="row poc container">
    <div class="col s12 m12 highlight">
        <h3>Event Organizers</h3>
    </div>
    <div class="col s12 m6">
        <img src="{{ MEDIA_URL }}{{ i.contact_image1 }}" class="responsive-img circle">
        <p>{{ i.contact_name1 }}</p>
        <p>{{ i.contact_phone1 }}</p>
        <p>{{ i.contact_email1 }}</p>
    </div>
    <div class="col s12 m6">
        <img src="{{ MEDIA_URL }}{{ i.contact_image2 }}" class="responsive-img circle">
        <p>{{ i.contact_name2 }}</p>
        <p>{{ i.contact_phone2 }}</p>
        <p>{{ i.contact_email2 }}</p>
    </div>
</section>
<section class="sponsors">
{% if sponsors %}
    <div class="col s12 m12 highlight">
        <h3>Event Sponsors</h3>
    </div>
    <div class="col s12 m12">
        {% for j in sponsors %}
        <img src="{{ MEDIA_URL }}{{ j }}">
        {% endfor %}
    </div>
{% endif %}
</section>
{% endfor %}
<!-- Content ends -->

{% endblock %}

{% block js %}
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script>
    $(document).ready(function(){
    $("#info").click(function(){
        $(".info").fadeToggle();
        window.scrollBy(0, 200);
    });
      $(".button-collapse").sideNav();
      window.sr = ScrollReveal({ reset: true });
        sr.reveal('.picture-desc', { duration: 800 });
        sr.reveal('.event-list', { duration: 800 });
        sr.reveal('.poc', { duration: 800 });
        sr.reveal('.sponsors', { duration: 800 });
    });


</script>
{% endblock %}