{% extends 'website/base.html' %}
{% load staticfiles %}
{% block title %}Past Sponsors{% endblock %}
{% block css %}<link type="text/css" rel="stylesheet" href="{% static 'css/sponsors.css' %}" >{% endblock %}
{% block image %}{% static  'images/sponsors.jpg' %}{% endblock %}
{% block heading %}Past Sponsors{% endblock %}
{% block content %}
<div class="row title-sponsor">
	<h5>Title Sponsor</h5>
	<img src="{% static 'images/hero.png' %}" alt="hero" class="responsive-img">
	
</div>
<div class="row sponsor-row">
	<div class="col s4">
		<h6>associate title sponsor</h6>
		<a href="#"><img src="{% static 'images/NationalInsurance.png' %}" alt="nationalinsurance" class="responsive-img"></a>
	</div>
	<div class="col s4">
		<h6>Co-powered by</h6>
		<a href="#"><img src="{% static 'images/yes.png' %}" alt="yesbank" class="responsive-img"></a>
	</div>
	<div class="col s4">
		<h6>Secured by</h6>
		<a href="#"><img src="{% static 'images/lion.png' %}" alt="lionmanpower" class="responsive-img"></a>
	</div>
</div>
<div class="row sponsor-row">
	<div class="col s4">
		<h6>Media partner</h6>
		<a href="#"><img src="{% static 'images/Swarajya.png' %}" alt="swarajya" class="responsive-img"></a>
	</div>
	<div class="col s4">
		<h6>workshop partner</h6>
		<a href="#"><img src="{% static 'images/i3indya.png' %}" alt="i4indya" class="responsive-img"></a>
	</div>
	<div class="col s4">
		<h6>in associatation partner</h6>
		<a href="#"><img src="{% static 'images/vh1.png' %}" alt="vh1" class="responsive-img"></a>
	</div>
</div>
<div class="row sponsor-row">
	<div class="col s4">
		<h6>powered by</h6>
		<a href="#"><img src="{% static 'images/MTVCampusDiaries.png' %}" alt="MTVCampusDiaries" class="responsive-img"></a>
	</div>
	<div class="col s4">
		<h6>event curated by</h6>
		<a href="#"><img src="{% static 'images/eminence.png' %}" alt="eminence" class="responsive-img"></a>
	</div>
	<div class="col s4">
		<h6>gifting partner</h6>
		<a href="#"><img src="{% static 'images/jc.png' %}" alt="grabon" class="responsive-img"></a>
	</div>
</div>
<div class="row sponsor-row">
	<div class="col s4">
		<h6>online magazine partner</h6>
		<a href="#"><img src="{% static 'images/FashionLady.png' %}" alt="fashionlady" class="responsive-img"></a>
	</div>
	<div class="col s4">
		<h6>official recording partne</h6>
		<a href="#"><img src="{% static 'images/ResonaceStudio.png' %}" alt="resonancestudio" class="responsive-img"></a>
	</div>
	<div class="col s4">
		<h6>talent partner</h6>
		<a href="#"><img src="{% static 'images/MTV-Nescafé-Labs-Logo.png' %}" alt="NescafeLabs" class="responsive-img"></a>
	</div>
</div>
<div class="row sponsor-row">
	<div class="col s4">
		<h6>content partner</h6>
		<a href="#"><img src="{% static 'images/ATKT.png' %}" alt="atkt" class="responsive-img"></a>
	</div>
	<div class="col s4">
		<h6>out reach partner</h6>
		<a href="#"><img src="{% static 'images/iamin.png' %}" alt="iamin" class="responsive-img"></a>
	</div>
	<div class="col s4">
		<h6>technology partner</h6>
		<a href="#"><img src="{% static 'images/Faadooengineers.png' %}" alt="faadooengineers" class="responsive-img"></a>
	</div>
</div>
<div class="row sponsor-row">
	<div class="col s4">
		<h6>youth partner</h6>
		<a href="#"><img src="{% static 'images/GrapeVine.png' %}" alt="grapevine" class="responsive-img"></a>
	</div>
	<div class="col s4">
		<h6>photography partner</h6>
		<a href="#"><img src="{% static 'images/DCOP.png' %}" alt="dcop" class="responsive-img"></a>
	</div>
	<div class="col s4">
		<h6>videography partner</h6>
		<a href="#"><img src="{% static 'images/2line.png' %}" alt="2lineproduction" class="responsive-img"></a>
	</div>
</div>
<div class="row sponsor-row">
	<div class="col s4">
		<h6>programming partner</h6>
		<a href="#"><img src="{% static 'images/hackerearth.png' %}" alt="hackerearth" class="responsive-img"></a>
	</div>
	<div class="col s4">
		<h6>knowledge partner</h6>
		<a href="#"><img src="{% static 'images/t9.png' %}" alt="tnineinfotech" class="responsive-img"></a>
	</div>
	<div class="col s4">
		<h6>food partner</h6>
		<a href="#"><img src="{% static 'images/t9.png' %}" alt="tnineinfotech" class="responsive-img"></a>
	</div>
</div>
<div class="row sponsor-row">
	<div class="col s4">
		<h6>hospitality partner</h6>
		<a href="#"><img src="{% static 'images/hyatt.png' %}" alt="hyattregidency" class="responsive-img"></a>
	</div>
	<div class="col s4">
		<h6>social cause partner</h6>
		<a href="#"><img src="{% static 'images/happy.png' %}" alt="happyglobe" class="responsive-img"></a>
	</div>
	<div class="col s4">
		<h6>news partner</h6>
		<a href="#"><img src="{% static 'images/Dainik-Bhaskar-Logo.png' %}" alt="dainikbhasker" class="responsive-img"></a>
	</div>
</div>


<h5>online media partners</h5>


<div class="row sponsor-row">
	<div class="col s4">
		
		<a href="#"><img src="{% static 'images/Allevents.png' %}" alt="allevents" class="responsive-img"></a>
	</div>
	<div class="col s4">
		
		<a href="#"><img src="{% static 'images/BrainBuxa.png' %}" alt="brainbuxa" class="responsive-img"></a>
	</div>
	<div class="col s4">
		
		<a href="#"><img src="{% static 'images/BuddyBits.png' %}" alt="buddybits" class="responsive-img"></a>
	</div>
</div>
<div class="row sponsor-row">
	<div class="col s4">
		
		<a href="#"><img src="{% static 'images/CampusDrift.png' %}" alt="campusdrift" class="responsive-img"></a>
	</div>
	<div class="col s4">
		
		<a href="#"><img src="{% static 'images/CollegeDunia.png' %}" alt="colllegedunia" class="responsive-img"></a>
	</div>
	<div class="col s4">
		
		<a href="#"><img src="{% static 'images/Fuccha.png' %}" alt="fuccha" class="responsive-img"></a>
	</div>
</div>


<h5>event partners</h5>



<div class="row sponsor-row">
	<div class="col m2 s4">
		<a href="#"><img src="{% static 'images/i3.png' %}" alt="team member" class="responsive-img"></a>
	</div>
	<div class="col m2 s4">
		<a href="#"><img src="{% static 'images/xoxo.png' %}" alt="team member" class="responsive-img"></a>
	</div>
	<div class="col m2 s4">
		<a href="#"><img src="{% static 'images/careers360.png' %}" alt="team member" class="responsive-img"></a>
	</div>
	<div class="col m2 s4">
		<a href="#"><img src="{% static 'images/ohcampus.png' %}" alt="team member" class="responsive-img"></a>
	</div>
	<div class="col m2 s4">
		<a href="#"><img src="{% static 'images/vaani.png' %}" alt="team member" class="responsive-img"></a>
	</div>
	<div class="col m2 s4">
		<a href="#"><img src="{% static 'images/future.png' %}" alt="team member" class="responsive-img"></a>
	</div>
		
</div>

<div class="row sponsor-row">
	<div class="col m2 s4">
		<a href="#"><img src="{% static 'images/Bikamp Adventures.png' %}" alt="team member" class="responsive-img"></a>
	</div>
	<div class="col m2 s4">
		<a href="#"><img src="{% static 'images/duxpress.png' %}" alt="team member" class="responsive-img"></a>
	</div>
	<div class="col m2 s4">
		<a href="#"><img src="{% static 'images/sodexo.png' %}" alt="team member" class="responsive-img"></a>
	</div>
	<div class="col m2 s4">
		<a href="#"><img src="{% static 'images/robosapiens.png' %}" alt="team member" class="responsive-img"></a>
	</div>
	<div class="col m2 s4">
		<a href="#"><img src="{% static 'images/chhaon.png' %}" alt="chhaon" class="responsive-img"></a>
	</div>
	<div class="col m2 s4">
		<a href="#"><img src="{% static 'images/sk.png' %}" alt="team member" class="responsive-img"></a>
	</div>
		
</div>

<div class="row sponsor-row">
	<div class="col m2 s4">
		<a href="#"><img src="{% static 'images/maahi.png' %}" alt="team member" class="responsive-img"></a>
	</div>
	<div class="col m2 s4">
		<a href="#"><img src="{% static 'images/rudraksh.png' %}" alt="team member" class="responsive-img"></a>
	</div>
	<div class="col m2 s4">
		<a href="#"><img src="{% static 'images/britannica.png' %}" alt="team member" class="responsive-img"></a>
	</div>
	<div class="col m2 s4">
		<a href="#"><img src="{% static 'images/srijan.png' %}" alt="team member" class="responsive-img"></a>
	</div>
	<div class="col m2 s4">
		<a href="#"><img src="{% static 'images/modeling.png' %}" alt="team member" class="responsive-img"></a>
	</div>
	<div class="col m2 s4">
		<a href="#"><img src="{% static 'images/hollister.png' %}" alt="team member" class="responsive-img"></a>
	</div>
		
</div>

<div class="row sponsor-row">
	<div class="col m2 s4">
		<a href="#"><img src="{% static 'images/abraxas.png' %}" alt="team member" class="responsive-img"></a>
	</div>
	<div class="col m2 s4">
		<a href="#"><img src="{% static 'images/edibleroutes.png' %}" alt="team member" class="responsive-img"></a>
	</div>
	<div class="col m2 s4">
		<a href="#"><img src="{% static 'images/AbraxasNU.png' %}" alt="team member" class="responsive-img"></a>
	</div>
</div>
{% endblock %}
