{% extends 'website/base.html' %}
{% load staticfiles %}
{% block title %}Woah!{% endblock %}
{% block css %}
<link type="text/css" rel="stylesheet" href="{% static 'css/success.css' %}">{% endblock %}
{% block image %}{% static  'images/success.jpg' %}{% endblock %}
{% block heading %}Thank You!{% endblock %}
{% block content %}
<div class="row">
    <h6>You have successfully registered for Campus Ambassador with Email:<span class="user-info">{{ email }}</span> and
        Phone:<span class="user-info">{{ phone }}</span></h6>
</div>
{% endblock %}