{% extends 'website/base1.html' %}
{% load staticfiles %}
{% block title %}Our Team{% endblock %}
{% block css %}
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel="stylesheet" type="text/css" href="{% static 'css/ourTeam.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap1.css' %}"/>
<link href='http://fonts.googleapis.com/css?family=Lato:300,400%7CRaleway:100,400,300,500,600,700%7COpen+Sans:400,500,600'
      rel='stylesheet' type='text/css'>
{% endblock %}
{% block content %}
<section class="skewedBox">
    <div class="box">
        <h1>Our Team</h1>
        <h6>Unity is strength...When there is team work and collaboration, wonderful things can be achieved!!"</h6>
    </div>
</section>

<div class="background" style="background:url({% static  'images/teampara.png' %});">
</div>

<!--<div style="text-align: center;-->
<!--font-size: 40px;-->
<!--color: #fff;-->
<!--font-family: 'Abril Fatface', cursive;-->
<!--/*font-family: 'Permanent Marker', cursive;*/-->
<!--margin: 20px 0;-->
<!--background-image: -webkit-linear-gradient(to bottom right, #ee0979, #ff6a00); /* For Chrome and Safari */-->
<!--background-image:    -moz-linear-gradient(to bottom right, #ee0979, #ff6a00); /* For old Fx (3.6 to 15) */-->
<!--background-image:     -ms-linear-gradient(to bottom right, #ee0979, #ff6a00); /* For pre-releases of IE 10*/-->
<!--background-image:      -o-linear-gradient(to bottom right, #ee0979, #ff6a00); /* For old Opera (11.1 to 12.0) */-->
<!--background-image:         linear-gradient(to bottom right, #ee0979, #ff6a00); /* Standard syntax; must be last */-->
<!--color:transparent;-->
<!-- -webkit-background-clip: text;-->
<!--background-clip: text;">-->
<!--<h1>Our Team</h1>-->
<!--</div>-->

<!--<div class="main-team">-->
<div class="row">
    <!--<div class="heading-title text-center">-->
    <!--<p class="p-top-30 half-txt">Unity is strength...When there is team work and collaboration, wonderful things can be achieved!! </p>-->
    <!--</div>-->
    {% for i,j,k in zipped %}
    {% if i %}
    <h3 align="center" style="text-align: center !important;
	font-size: 40px;
	color: #fff;
	 font-family: 'Source Sans Pro';
	/*font-family: 'Source Sans Pro', cursive;*/
	margin: 20px 0;
	background-image: -webkit-linear-gradient(to top , #1D4350, #fff); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(to top , #1D4350, #fff); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(to top , #1D4350, #fff); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(to top , #1D4350, #fff); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to top , #1D4350, #fff); /* Standard syntax; must be last */
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;"> {{ k }} </h3>
    {% for l in i %}
    {% if l %}
    {% for m in l %}
    {% ifequal l|length 1 %}
    <div class="col-md-12 col-sm-12" align="center" style="margin-bottom:45px;">
        {% endifequal %}
        {% ifequal l|length 2 %}
        <div class="col-md-6 col-sm-6" align="center" style="margin-bottom:45px;">
            {% endifequal %}
            {% ifequal l|length 3 %}
            <div class="col-md-4 col-sm-4" align="center" style="margin-bottom:45px;">
                {% endifequal %}
                <div class="team-member">
                    <div class="team-img" align="center">
                        <img src="{{ MEDIA_URL }}{{ m.image }}" alt="team member" class="img-responsive"
                             style="max-width: 100%; max-height: 100%;">
                    </div>
                    <div class="team-hover">
                        <div class="desk">
                            <p>{{ m.tag_line }}</p>
                        </div>
                        <div class="s-link">
                            <a href="{{ m.facebook }}" target="blank">
                                <img src="{% static 'images/facebook1.png' %}"></img></a>
                            <a href="{{ m.instagram }}" target="blank">
                                <img src="{% static 'images/instagram1.png' %}"></img></a>
                            <a href="{{ m.linkedin }}">
                                <img src="{% static 'images/linked.png' %}"></img></a>
                        </div>
                    </div>
                </div>
                <div class="team-title">
                    <h5>{{ m.name }}</h5>
                    <h5>{{ m.position }}</h5>
                    <span>{{ m.email }}</span>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<div align="center" style="margin-bottom:20px;">
    <a class="log_reg" href="\complete_team">" View Full Team "</a>
</div>
<!--</div>-->
{% endblock %}
{% block silho %}{% static  'images/team.png' %}{% endblock %}
{% block js %}
<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<!-- Scroll -->
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>

<script src="{% static 'js/team.js' %}"></script>
<script>
    $(document).ready(function(){
      $('.modal').modal();
      $(".button-collapse").sideNav();
      window.sr = ScrollReveal({ reset: true });
      sr.reveal('.details-intro', { duration: 800 });
      sr.reveal('.details-details', { duration: 800 });
      sr.reveal('.details-benefits', { duration: 800 });
      sr.reveal('.details-apply', { duration: 800 });
      // $('ul.tabs').tabs({
      //   swipeable : true,
      //   responsiveThreshold : 1920
    });


</script>
{% endblock %}