@import "https://fonts.googleapis.com/css?family=Abril+Fatface|Permanent+Marker|Roboto";

body{
  background: #000;
  font-family: 'Roboto', sans-serif;
}

nav{
  background: transparent;
}

nav a:active{
  background-image: -webkit-linear-gradient(to bottom right, #ee0979, #ff6a00); /* For Chrome and Safari */
  background-image:    -moz-linear-gradient(to bottom right, #ee0979, #ff6a00); /* For old Fx (3.6 to 15) */
  background-image:     -ms-linear-gradient(to bottom right, #ee0979, #ff6a00); /* For pre-releases of IE 10*/
  background-image:      -o-linear-gradient(to bottom right, #ee0979, #ff6a00); /* For old Opera (11.1 to 12.0) */
  background-image:         linear-gradient(to bottom right, #ee0979, #ff6a00); /* Standard syntax; must be last */
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

nav a:hover{
  background-image: -webkit-linear-gradient(to bottom right, #ee0979, #ff6a00); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(to bottom right, #ee0979, #ff6a00); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(to bottom right, #ee0979, #ff6a00); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(to bottom right, #ee0979, #ff6a00); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to bottom right, #ee0979, #ff6a00); /* Standard syntax; must be last */
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
  transition: 0.2s ease-in-out;
}

.side-nav{
  background: rgba(1,1,1,0.8);
}

.side-nav{
  color: #fff!important;
}

.btn-login{
  background: transparent!important;
  border: 1px solid white;
  border-radius: 1px;
  transition: 0.2s ease-in-out;
}

.btn-login:hover{
  color: #fff;
  background: linear-gradient(to bottom right, #ee0979, #ff6a00)!important;
  transition: 0.2s ease-in-out;
}

.btn-gallery{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: transparent!important;
  border: 1px solid #fff;
}

.btn-gallery:hover{
  background: linear-gradient(to bottom right, #ee0979, #ff6a00)!important;
}

.material-tooltip > .backdrop {
    background-color: transparent;
}

.wrapper{
	width: 80%;
	margin: 0 auto;
}

footer{
  position: relative;
  bottom: 0;
  color: #fff;
  background: #1F211E;
  width: 100%;
  padding: 50px 20px;
}

footer .row{
  margin-bottom: 0;
}

.event-heading{
	text-align: center;
	font-size: 40px;
	color: #fff;
	 font-family: 'Abril Fatface', cursive;
	/*font-family: 'Permanent Marker', cursive;*/
	margin: 20px 0;
	background-image: -webkit-linear-gradient(to bottom right, #ee0979, #ff6a00); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(to bottom right, #ee0979, #ff6a00); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(to bottom right, #ee0979, #ff6a00); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(to bottom right, #ee0979, #ff6a00); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to bottom right, #ee0979, #ff6a00); /* Standard syntax; must be last */
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.tabs{
	background: transparent;
	overflow-x: hidden;
}

.tabs .tab a{
	font-family: 'Roboto', sans-serif;
    color:#fff;
}
.tabs .tab a:hover,.tabs .tab a.active {
	background-color:transparent;
	color:linear-gradient(to bottom right, #ee0979, #ff6a00);
}
.tabs .tab.disabled a,.tabs .tab.disabled a:hover {
	color:rgba(102,147,153,0.7);	
}
.tabs .indicator {
	background: linear-gradient(to bottom right, #ee0979, #ff6a00);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: linear-gradient(to bottom right, #ee0979, #ff6a00);
}

.card:hover .overlay {
  opacity: 0.5;
}

.card .card-image img{
	transition: .5s ease;
}

.card:hover .card-image img{
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}


.text {
  color: white;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transition: 0.2s ease;
  text-align: center;
  opacity: 0;
  font-family: 'Abril Fatface', cursive;
}

.card:hover .text {
  opacity: 1;
}

.sillo img{
	width: 100vw;
	height: auto;
}

@media only screen and (max-width: 500px) {
    .text{
    	font-size: 16px;
    }
}