.sponsor-row, .title-sponsor{
	text-align: center;
}

.sponsor-row{
	margin-top: 3rem!important;
}

h5{
	text-align: center;
	margin: 3rem;
	text-transform: uppercase!important;
}

h6{
	font-size: 1.2rem!important;
	font-weight: 400!important;
	text-transform: uppercase!important;
}

@media only screen and (max-width: 500px) {
h6{
	font-size: 0.8rem!important;
	font-weight: 400!important;
	text-transform: uppercase!important;
}
}